.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.hc-section-header {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
}

.hc-section-header .hc-tag-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3px 15px 3px 3px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    background: #fff;
}

.hc-section-header .hc-tag-wrapper .hc-tag-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a2a38;
    height: 24px;
    width: 24px;
    border-radius: 50px;
}

.hc-section-header .hc-tag-wrapper .hc-tag-icon img {
    width: 14px;
    height: 14px;
}

.hc-section-header .hc-tag-wrapper .hc-tag-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
}

.hc-section-header .hc-section-title {
    margin-bottom: 10px;
}

.btn__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 50px;
    background: var(--secondary-color);

    transition: all 0.3s ease;
}

.btn__arrow:hover {
    background-color: var(--primary-color);
    border: none;
}

.btn__arrow i {
    font-size: 14px;
    color: #000;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.btn__arrow:hover i {
    color: #fff;
}
