:root {
    --primary-font: "Instrument Sans", sans-serif;
    --secondary-font: "Poppins", sans-serif;
    --primary-color: #5c6eff;
    --secondary-color: #ffb824;
    --text-color: #777777;
    --button-primary: #5c6eff;
    --button-second: #ffb824;

    --other-color: #e1fff3;
    --section-color: #eff1ff;
    --footer-color: #767676;
}
