:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --button-primary: #5c6eff;
    --button-second: #ffb824;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
}
