<footer class="footer">
    <div class="container">
        <!-- Top -->
        <div class="footer__top">
            <!-- Contact -->
            <div class="footer__column footer__column--contact">
                <h4 class="footer__title">Contact</h4>

                <ul class="footer__list">
                    <li class="footer__item">
                        <span class="footer__icon"
                            ><i class="fa-solid fa-location-dot"></i
                        ></span>
                        <span class="footer__text">
                            13 Whittingehame Drive,<br />
                            Glasgow, G12 0XT
                        </span>
                    </li>

                    <li class="footer__item">
                        <span class="footer__icon"
                            ><i class="fa-solid fa-phone"></i
                        ></span>
                        <span class="footer__text">+1 45278 540</span>
                    </li>

                    <li class="footer__item">
                        <span class="footer__icon"
                            ><i class="fa-solid fa-envelope"></i
                        ></span>
                        <span class="footer__text">username@domain.com</span>
                    </li>
                </ul>
            </div>

            <!-- For Talent -->
            <div class="footer__column">
                <h4 class="footer__title">For Talent</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Brands</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i
                            >Agencies</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i
                            >Ecommerce</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Marketing
                            Executives</a
                        >
                    </li>
                </ul>
            </div>

            <!-- Popular Cities -->
            <div class="footer__column">
                <h4 class="footer__title">Popular Cities</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Ballston
                            Lake</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Batumi
                            Brooklyn</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i
                            >Cambridge</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i
                            >Elmansoura</a
                        >
                    </li>
                </ul>
            </div>

            <!-- Site Link -->
            <div class="footer__column">
                <h4 class="footer__title">Site Link</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Blog</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Contact
                            Us</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Jobs</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link"
                            ><i class="fa-solid fa-chevron-right"></i>Post a
                            Job</a
                        >
                    </li>
                </ul>
            </div>
        </div>

        <!-- Divider -->
        <div class="footer__divider"></div>

        <!-- Bottom -->
        <div class="footer__bottom">
            <p class="footer__copyright">
                © 2024 Aonetheme. All Rights are Reserved
            </p>

            <div class="footer__social">
                <a href="#" class="footer__social-link">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="footer__social-link"
                    ><i class="fa-brands fa-twitter"></i
                ></a>
                <a href="#" class="footer__social-link"
                    ><i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

